$border: #808080;
$background: #FFFFFF;
$foreground: #3A3A1F;
$scrollbar-width: 0px;

$font-eng: "ABCMonumentGroteskMono","NHaasGroteskTXPro", "Lucida Sans", sans-serif;
$eng: "NHaasGroteskTXPro", "Lucida Sans", sans-serif;